[user]
	email = lucaslquintino@gmail.com
	name = lucasquin

[url "git@github.com:"]
	insteadOf = https://github.com/

[core]
	excludesfile = ~/.gitignore-global
	attributesfile = ~/.gitattributes
	autocrlf = input
	quotepath = false
	editor = nvim

[push]
	autoSetupRemote = true
