@define-color white rgba(ffffffcc);
@define-color black rgba(000000cc);
@define-color background-color rgba(00000033);
@define-color color_active = rgba(707070ff);
@define-color color_inactive = rgba(393939ff);

window {
    margin: 0px;
    border: 1px solid @color_active;
    background-color: rgba(0,0,0, 0.33);
    border-radius: 10px;
}

#input {
    margin: 5px;
    border: none;
    color: @white;
    background-color: @background-color;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: @background-color;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: @background-color;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: @white;
}

#entry.activatable #text {
    color: #282a36;
}

#entry>* {
    color: @white;
}

#entry:selected {
    background-color: @background-color;
}

#entry:selected #text {
    font-weight: bold;
}
